/* imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oxygen:wght@300&display=swap');


/* standard file settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #f5f5f5;
}


/* header and logo */
h1, h2 {
    font-family: Oxygren, sans-serif;
    font-weight: 200;
    color: #3a3a3a;
}

h1 > span {
    color: #daa520;
    padding-right: 10px;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    line-height: 75px;
    height: 80px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px 0 #888888;
}

#hive-resurgence-logo {
    float: left;
    font-size: 280%;
    margin-left: 50px;
}


/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #daa520;
    color: #daa520;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* zoom effect */
.zoom:hover {
    transition: transform .2s;
    transform: scale(1.05);
}


/* hero image */
#hero-image {
    background: url('../images/home/hero-image.jpg') no-repeat center center;
    height: 500px;
}


/* resurgence definition */
#resurgence-definition {
    text-align: center;
    padding: 10px;
}


