/* imported google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oxygen:wght@300&display=swap');


/* standard file settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #f5f5f5;
}


/* header and logo */
h1, h2 {
    font-family: Oxygren, sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    height: 75px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px 0;
}